<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="card">
  <form>
    <div class="row form-input">
      <label for="billRecipient">Bill To</label>
      <input type="text" id="billRecipient" placeholder="Improcon"/>    
    </div>
    <mat-form-field>
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>

    <div class="row form-input">
        <!-- <mat-form-field>
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>

        <mat-form-field>
          <input matInput value="sendDate">
        </mat-form-field> -->
        
        <!-- <label for="sendDate">Date</label>
        <input type="date" id="sendDate"/>       -->
    </div>

    <div class="row form-input">
      <label for="invoiceNumber">Invoice Number</label>
      <input type="text" id="invoiceNumber"/>      
    </div>

    <div class="row form-input">
      <label for="comments">Additional Comments</label>
      <textarea id="comments"></textarea>      
    </div>
  </form>
</div>
